@import './Global.css.scss';

g.chess-piece {
  fill: #DAC298;
  font-size: 20px;
  cursor: -webkit-grab;

  &.red {
    stroke: $red;
    text {
      stroke: $redText;
    }
    &.selected {
      text { stroke: $redHighlight; stroke-width: 2;}
      stroke: $redHighlight;
    }
  }
  &.black {
    stroke: black;
    text {
      stroke: black;
    }
    &.selected {
      text: {stroke: $blackHighlight; stroke-width: 2;}
      stroke: $blackHighlight;
    }
  }
  &.selected {
    circle.piece-outline {
      stroke-width: 3;
    }
    circle.piece-inline {
      stroke-width: 3;
    }
  }

  circle.piece-block {
    fill-opacity: 1;
    stroke-width: 1;
  }
  circle.piece-inline {
    fill-opacity: 0;
    stroke-width: 2;
  }
  circle.piece-outline {
    stroke-width: 1;
  }

  text {
    @include user-cant-select();
    @extend .kaiti;
    color: #dd4444;
    font-size: 21px;
  }
}

